li {
  flex: 1;
  text-align: center;
  list-style-type: none;
  padding: 10px;
  border: 1px solid lightgray;
  margin: 5px;
  cursor: pointer;
  :hover{
    background-color: lightgray;
  }
  .button {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: yellow;
    border: none;
    outline: none;
    cursor: pointer;
    :active {
      background-color: black;
    }
  }
}